.main {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.forms {
    text-align: right;
}

input {
    padding: 3px 18px;
    outline: none;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 45px;

}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}