.login{
 
    background-color: none;
    width: 1200px;
    text-align: center;
   }
   
   .button{
       background-color: #51be54;
       border: none;
       color:white;
       padding: 7px 35px;
       margin: 5px 2px;
       text-align: center;
   }